# ClowdControl Supabase Configuration
# https://supabase.com/docs/guides/cli/config

project_id = "emsivxzsrkovjrrpquki"

[api]
enabled = true
port = 54321
schemas = ["public"]

[db]
port = 54322

[studio]
enabled = true
port = 54323

[auth]
enabled = true
